<h1>Trips#show</h1>
<p>Find me in app/views/trips/show.html.erb</p>

<div id="floating-panel">
  <form action="" method="post">
    <label for="start">Where should your trip start?</label>
    <input id="start" type="text" name="Start of trip" placeholder="København">
    <label for="via">via</label>
    <input id="via" type="text" name="via" placeholder="Berlin">
    <label for="end">Where should your trip end?</label>
    <input id="end" type="text" name="End of trip" placeholder="Paris">
    <button onclick="calcRoute()">Find route</button> 
  </form>
</div>




<div style='width: 800px;'>
  <div id="directions" style='width: 800px; height: 400px;'></div>
</div>


<%= content_for(:after_js) do %>
<script>

  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();

  function calcRoute() {
    var origin      = new google.maps.LatLng(55.676097, 12.568337);
    var destination = new google.maps.LatLng(55.663895, 12.542540);

    var waypts = [];
    var stop = document.getElementById('via').value
    waypts.push({
        location: stop,
        stopover: true,
    });

    
    var request = {

      origin:      document.getElementById('start').value,
      destination: document.getElementById('end').value,
      waypoints:  waypts,
      optimizeWaypoints: true,
      travelMode:  google.maps.TravelMode.BICYCLING

    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        alert( response.routes[0].legs[1].distance.value / 1000 );
      }
    });
  }

  calcRoute();

  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'directions'}}, function(){
    directionsDisplay.setMap(handler.getMap());
  });
</script>

<% end %>