// Specific CSS for your home-page
body {
  background-image: url("http://res.cloudinary.com/mobajo/image/upload/v1511274068/light_noise_diagonal_guib0l.png");
}

hr {
  border-top: 1px solid $brand-danger;
}

.sticky-content {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.map {
  height: 80vh;

}
.form-control {
  color: black;
}

.outer-container {
  margin-top: 30px;
}

.color-square {
  height: 150px;
  width: 100%;
}

.color-yellow {
  background-color: $brand-info;
}

.color-gray {
  background-color: $gray;
}

.color-red {
  background-color: $brand-danger;
}

.color-green {
  background-color: $brand-success;
}

body {
  color: black;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.main-content {
  min-height: 80vh;
  a {
    color: $brand-success;
    text-decoration: none;
    font-weight: bold;
    i {
      color: $brand-success;
      text-decoration: none;
      font-weight: bold;
    }
  }

  a:hover {
    color: $brand-success;
    border-bottom: 3px solid $brand-info;
  }
}

.content-box {
  background-color: white;
  box-shadow: 1px 1px 1px $gray-base;
  padding: 50px 15px 10px 20px;
  margin-bottom: 20px;
  margin-top: 70px;
  text-align: left;
  p {
    margin: 0px 0 5px;
  }
  i {
    color: black;
  }
}

.content-box-center {
  background-color: white;
  box-shadow: 1px 1px 1px $gray-base;
  padding: 50px 15px 10px 20px;
  margin-bottom: 20px;
  margin-top: 70px;
  text-align: center;
}

.content-box-gray {
  background-color: $gray-base;
  box-shadow: 1px 1px 1px white;
  padding: 30px 15px 10px 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.content-headline-green {
  position: absolute;
  top: -40px;
  left: 10px;
  padding: 1px 10px;
  margin-top: 10px;
  background-color: $brand-success;
  color: white;
}


.content-headline-red {
  position: absolute;
  top: -40px;
  left: 10px;
  padding: 1px 10px;
  margin-top: 10px;
  background-color: $brand-danger;
  color: white;
}

.content-headline-green h3 {
  margin: 0px;
  padding: 0px;
}

.content-headline-red h3 {
  margin: 0px;
  padding: 0px;
}

.content-box-create {
  background-color: white;
  box-shadow: 1px 1px 1px $gray-base;
  padding: 40px 15px 10px 20px;
  margin-bottom: 100px;
  margin-top: 50px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.content-headline-create {
  position: absolute;
  top: -40px;
  left: 38%;
  justify-content: center;
  padding: 1px 10px;
  margin-top: 10px;
  background-color: $brand-success;
  color: white;
}

.content-box-trip {
  background-color: white;
  box-shadow: 1px 1px 1px $gray-base;
  padding: 40px 15px 10px 20px;
  margin-bottom: 20px;
  margin-top: 80px; // -80px for top-map
  text-align: left;
  h2 {
    font-size: 52px;
  }
  h1 {
    margin-top: -15px;
    padding-top: 0px;
  }
}

#homepage-search {
  position: absolute;
  bottom: -10px;
  left: 10px;
  padding: 1px 10px;
  margin-top: 10px;
  background-color: white;
  color: white;
}

.col-sm-2 {
  margin-right: 32px;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #999;
  font-weight: bold;
}

.showafter { 
 display: none;
}
.showhover:hover .showafter {
 display : block;
 transition: ease-in;
}
.showhover:hover .showbefore {
 display : none;
 transition: ease-out;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

label {
  font-family: Dosis, Helvetica, sans-serif;
  margin-bottom: 7px;
  font-weight: bold;
}

.form-inline .form-control {
  width: 100%;
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  z-index: 100;
}

#spreadsheets {
  margin-top: 104px;
  
}

.fade-in-banner {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in-faster {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .content-headline-create {
    left: 38%;
  }
}
@media (max-width: 750px) {
  /* For a screen < 720px, this CSS will be read */
  .content-headline-create {
    left: 38%;
  }

  .showafter { 
    display: block;
  }

  .showbefore { 
    display: none;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .content-headline-create {
    left: 21%;
  }

  .showafter { 
    display: block;
  }

  .showbefore { 
    display: none;
  }
}
