/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert-warning {
  background: $brand-danger;
  text-align: center;
  color: white;
  font-weight: bold;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.alert-info {
  background: $brand-success;
  text-align: center;
  color: white;
  font-weight: bold;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.alert {
  background-color: $gray-base;
  text-align: center;
  color: white;
  font-weight: bold;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-top: 40px;
}
