.footer {
  background: $brand-success;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 30px;
  a {
    color: white;
  }
}
.footer-links {
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 18px;
}

.footer-links a:hover {
  border-bottom: 3px solid $brand-info;
}

.footer {
  color: white;
}

#footer-hr {
  border-top: 1px solid white;
  width: 170px;
}

#footer-row {
  margin: 0px;
}

.footer p {
  font-size: 13px;
}
